In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.54.tar.gz (19 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\tbndo\anaconda3\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in c:\users\tbndo\anaconda3\lib\site-packages (from yfinance) (1.19.0)
Requirement already satisfied: requests>=2.20 in c:\users\tbndo\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\tbndo\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tbndo\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\tbndo\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\tbndo\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tbndo\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\tbndo\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: six>=1.5 in c:\users\tbndo\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22415 sha256=53c531ca61ecedf1f2aaa08b30d61b26ab3efe6599cf32053449d5b3efce8853
  Stored in directory: c:\users\tbndo\appdata\local\pip\cache\wheels\28\79\3c\08a301b673366fe664fe2853e136eb2acc1bb752045c11c6a1
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8374 sha256=30c439a76a4b8ec9630eee0c1b849700a900683cfa23bb270e846581a767bb59
  Stored in directory: c:\users\tbndo\appdata\local\pip\cache\wheels\ae\25\47\4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54

In [2]:
import yfinance as yf

In [13]:
whl = yf.Ticker("WHL.JO")

In [26]:
# show dividends
whl.dividends.tail()

Date
2018-03-14    108.5
2018-09-12    130.5
2019-03-13     92.0
2019-09-18     98.5
2020-03-11     89.0
Name: Dividends, dtype: float64

In [17]:
# show actions (dividends, splits)
whl.actions

            Dividends  Stock Splits
Date
2000-03-06      6.500           0.0
2000-09-04      7.500           0.0
2001-03-05      6.500           0.0
2001-04-17      6.500           0.0
2001-09-03      8.500           0.0
2002-03-11      7.500           0.0
2002-09-09     12.500           0.0
2003-03-10     10.500           0.0
2003-10-06     18.500           0.0
2004-03-01     13.000           0.0
2004-09-06     25.500           0.0
2005-03-07     18.500           0.0
2005-09-12     15.500           0.0
2006-03-06     24.000           0.0
2006-09-11     39.000           0.0
2007-03-05     29.500           0.0
2007-09-10     46.500           0.0
2008-03-10     29.500           0.0
2008-09-08     49.500           0.0
2008-12-08     94.000           0.0
2009-03-09     31.500           0.0
2009-09-18     53.500           0.0
2010-03-26     38.000           0.0
2010-09-13     67.000           0.0
2011-03-07     50.500           0.0
2011-09-12     93.000           0.0
2012-04-20     75.000           0.0
2012-09-10    123.000           0.0
2013-03-04     86.000           0.0
2013-09-16    148.000           0.0
2014-03-03    101.000           0.0
2014-09-08    143.296           0.0
2015-03-02     96.500           0.0
2015-09-14    150.500           0.0
2016-02-29    133.000           0.0
2016-09-14    180.000           0.0
2017-03-08    133.000           0.0
2017-09-13    180.000           0.0
2018-03-14    108.500           0.0
2018-09-12    130.500           0.0
2019-03-13     92.000           0.0
2019-09-18     98.500           0.0
2020-03-11     89.000           0.0

In [20]:
# show splits
apple.splits

Series([], Name: Stock Splits, dtype: int64)

In [25]:
whl_historical = whl.history(start="2016-06-02", end="2020-06-07")
whl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-06-02,7034.57,7218.38,7016.94,7136.97,4751758,0.0,0
2016-06-03,7151.24,7328.34,7140.32,7281.33,11194164,0.0,0
2016-06-06,7331.70,7361.07,7065.62,7115.98,6609304,0.0,0
2016-06-07,7189.01,7212.51,7084.09,7092.48,6049089,0.0,0
2016-06-08,7092.48,7131.09,7008.55,7033.73,7146613,0.0,0
...,...,...,...,...,...,...,...
2020-06-01,2901.00,2963.00,2851.00,2875.00,2614001,0.0,0
2020-06-02,2890.00,3178.00,2890.00,3142.00,5468113,0.0,0
2020-06-03,3185.00,3460.00,3145.00,3459.00,10360900,0.0,0
2020-06-04,3500.00,3555.00,3375.00,3480.00,7046583,0.0,0
2020-06-05,3480.00,3546.00,3444.00,3512.00,6092595,0.0,0

In [28]:
whl_historical[whl_historical['Dividends'] > 0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-09-14,7053.14,7066.00,6839.53,6862.70,6894421,180.0,0
2017-03-08,6138.99,6258.71,6051.60,6087.43,5200028,133.0,0
2017-09-13,5392.24,5392.24,5281.50,5294.11,4797314,180.0,0
2018-03-14,5678.61,5679.52,5515.52,5565.92,7299642,108.5,0
2018-09-12,4844.79,4844.79,4754.59,4792.17,3616622,130.5,0
2019-03-13,4393.51,4438.57,4249.71,4352.29,3870475,92.0,0
2019-09-18,5654.14,5748.70,5594.67,5736.03,3661692,98.5,0
2020-03-11,3478.00,3551.00,3450.00,3523.00,5948589,89.0,0